#yuko-main-container
{
    position: relative;

    width: 100%;
    height: 100%;
}
/* Header css */
header#yuko-header
{
    display: flex;
    float: left;

    width: 100%;
    height: 56px;

    background: #3f51b5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position: fixed;
    top: 0;
    z-index: 0;
}

/* Drawer css */
#yuko-nav-drawer-button {
    width: 56px;
    color: white;
    text-align: center;
    padding: 16px 0;
}

#yuko-nav-drawer-container
{
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
}

#yuko-nav-drawer
{
    position: fixed;
    width: 80%;
    height: 100%;
    left: -80%;
    color: #111;
    z-index: 2
}

#yuko-nav-list
{
    width: calc(100% - 10px);
    height: 100%;

    text-indent: 16px;

    background: #f1f1f1;
}

#yuko-nav-white
{
    float: right;

    width: 10px;
    height: 100%;

    background: none;
}
#yuko-nav-title
{
    font-size: 20px;
    line-height: 50px;

    display: block;

    width: 100%;
    height: 56px;
}
.yuko-nav-item
{
    position: relative;
    line-height: 56px;

    display: block;

    width: 100%;
    height: 56px;

    text-decoration: none;
    overflow: hidden;
    color: #777;
}
.yuko-nav-item:hover
{
    background-color: #e0e0e0;
}
.yuko-nav-item.item-selected {
    background-color: #e0e0e0;
}

/* Main css */
/* Main | Content css */
.yuko-content {
    /* min-height: 100%;  */
    width: 100%; 
    font-size: 36px; 
    font-weight: 800; 
    text-align:center
}
.yuko-page-container {
    overflow: hidden; 
    position: absolute !important; 
    z-index: -1;
}

.yuko-page {
    position: absolute !important;
    display: block;
    /*height: 100%;*/
    /* width: 100%; */
}

main {
    width: 100%;
    /* height: calc(100% - 56px);  */
    float: left;
    margin: 56px auto 0 auto;
}
/* Footer css */
footer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 56px;
    font-size: 14px;
    background: #3f51b5;
    color: #FFFFFF !important;
    text-align: center
}

footer > div {
    height: 28px;
    line-height: 28px;
    width: 100%;
}

footer a {
    color: #FFFFFF;
    font-style: italic
}

/* Define effect */
@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.ripple {
  position: absolute;
  background: rgba(0,0,0,.15);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;
}
.ripple.show {
  animation: ripple .75s ease-out;
}