/*
 * Created by Ryougi(りょうぎ) on Dec. 31, 2015
 * First edited by Ryougi(りょうぎ) on Dec. 31, 2015
 * Corresponding author: Ryougi
 * Email: xiaoyixiaoyi1009@gmail.com
 * 
 */

html, body, div, ul, li {padding: 0; margin: 0; border: none; font: 14px/1 Helvetica,Arial,sans-serif,"Microsoft YaHe","Sim sun"; list-style: none;}
#Ryougi_slider_container {width: 100%; overflow: hidden; position: relative;}
#Ryougi_slider {position: absolute; top: 0; left: 0; width: 100%;}
.Ryougi_slider_item {position: absolute; left: 0; top: 0; width: 100%; float: left; opacity: 0;  transition:opacity 1.2s; -moz-transition:opacity 1.2s; -webkit-transition:opacity 1.2s; -o-transition:opacity 1.2s;}
#Ryougi_slider_item_a {background: url(../img/Kara.no.Kyoukai.jpg) no-repeat; background-size: 100%; opacity: 1;}
#Ryougi_slider_item_b {background: url(../img/yukong.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_c {background: url(../img/fate.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_d {background: url(../img/AngelBeats.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_e {background: url(../img/yande.re.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_f {background: url(../img/san.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_g {background: url(../img/youkuri.jpg) no-repeat; background-size: 100%;}
.Ryougi_slider_bar {position: absolute; bottom: 0; width: 100%; text-align: center; background: rgba(0,0,0,0.5);}
.Ryougi_slider_bar > li {display: inline-block; vertical-align: top; cursor: pointer; height: 6px; padding: 9px 0; margin: 0 2px;}
.Ryougi_slider_bar > li > a {display: block; width: 10px; height: 6px; background-color: #fff; border-radius: 5px; transition: 0.2s;}
.Ryougi_slider_bar > li.on a, .Ryougi_slider_bar > li.on:hover a {width: 30px; background-color: #2196F3;}